:root {
	--violet: hsl(263, 55%, 52%);
	--lightViolet: hsl(264, 82%, 70%);
	--grayBlue: hsl(217, 19%, 35%);
	--lightGrayBlue: hsla(217, 19%, 35%, 0.25);
	--darkBlue: hsl(219, 29%, 14%);
	--white: hsl(0, 0%, 100%);
	--lightGray: hsl(0, 0%, 81%);
	--grayishBlue: hsl(210, 46%, 95%);
}
